@import 'init';
@import 'header';

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}
h1{
    @include font();
}
button{
    @include buttonOne();
}