mixin audioPlayer
    audio(src="").audioForPlayer
    .audioPlayer
        .audioSection1
            button
        .audioSection2
            p Some name
            .range
                .range2
mixin videoPlayer
    p 1